# GEMINI API KEY from google ai studio
API_KEY=

# NeonDB
DATABASE_URL=postgresql+psycopg://neondb_owner:...

# [FS] Port to run the backend
PORT4FS=

# [FS] list of urls for the filesystem backend to accept the requests
CORS_ORIGINS4FS=http://localhost:5173,